# 1. Preparing dataset

We need to prepare a dataset from the table from wikipedia 'Toronto - FSAs' - a Toronto neighbourhoods/ZIP codes table

First let download a .csv file

In [1]:
# import pandas, numpy

import pandas as pd
import numpy as np

In [2]:
# The code was removed by Watson Studio for sharing.

In [3]:
#dataset with Toronto postal codes have been imported as 'body' from IBM Watson assets storage in invisible cell above

df = pd.read_csv(body)
df.head(12)

   Postcode           Borough     Neighbourhood
0       M1A      Not assigned      Not assigned
1       M2A      Not assigned      Not assigned
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
9       M8A      Not assigned      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge

In [4]:
df.shape

(288, 3)

Now we will get rid of Not Assigned values in 'Borough' column and change this value in Neighbourhood with the correspoding Borough

In [5]:
df = df[df.Borough != 'Not assigned']
df.reset_index(drop = True, inplace = True)

df.head(12)

   Postcode           Borough     Neighbourhood
0       M3A        North York         Parkwoods
1       M4A        North York  Victoria Village
2       M5A  Downtown Toronto      Harbourfront
3       M5A  Downtown Toronto       Regent Park
4       M6A        North York  Lawrence Heights
5       M6A        North York    Lawrence Manor
6       M7A      Queen's Park      Not assigned
7       M9A         Etobicoke  Islington Avenue
8       M1B       Scarborough             Rouge
9       M1B       Scarborough           Malvern
10      M3B        North York   Don Mills North
11      M4B         East York  Woodbine Gardens

In [6]:
# Get index of 'Not assigned' values in Neighbours

df.index[df.Neighbourhood =='Not assigned'].tolist()

[6]

In [7]:
#Change them with corresponding Borough names

changename = df.iloc[6,1]
df = df.replace(to_replace = 'Not assigned', value = changename)
df.head(12)

   Postcode           Borough     Neighbourhood
0       M3A        North York         Parkwoods
1       M4A        North York  Victoria Village
2       M5A  Downtown Toronto      Harbourfront
3       M5A  Downtown Toronto       Regent Park
4       M6A        North York  Lawrence Heights
5       M6A        North York    Lawrence Manor
6       M7A      Queen's Park      Queen's Park
7       M9A         Etobicoke  Islington Avenue
8       M1B       Scarborough             Rouge
9       M1B       Scarborough           Malvern
10      M3B        North York   Don Mills North
11      M4B         East York  Woodbine Gardens

In [8]:
df.shape

(211, 3)

# 2. Merging Borough names and geolocation info

Let's import new table with coordinates for the postal codes

In [9]:
# The code was removed by Watson Studio for sharing.

In [10]:
df_geo = pd.read_csv(body)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [11]:
#Merge both dataframes based on Postal codes values

df_geo = df_geo.rename(columns = {'Postal Code' : 'Postcode'})
df_neigh = pd.merge(df, df_geo, on = 'Postcode')
df_neigh.head(12)

   Postcode           Borough     Neighbourhood   Latitude  Longitude
0       M3A        North York         Parkwoods  43.753259 -79.329656
1       M4A        North York  Victoria Village  43.725882 -79.315572
2       M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3       M5A  Downtown Toronto       Regent Park  43.654260 -79.360636
4       M6A        North York  Lawrence Heights  43.718518 -79.464763
5       M6A        North York    Lawrence Manor  43.718518 -79.464763
6       M7A      Queen's Park      Queen's Park  43.662301 -79.389494
7       M9A         Etobicoke  Islington Avenue  43.667856 -79.532242
8       M1B       Scarborough             Rouge  43.806686 -79.194353
9       M1B       Scarborough           Malvern  43.806686 -79.194353
10      M3B        North York   Don Mills North  43.745906 -79.352188
11      M4B         East York  Woodbine Gardens  43.706397 -79.309937

# 3. Research