# 1. Preparing dataset

We need to prepare a dataset from the table from wikipedia 'Toronto - FSAs' - a Toronto neighbourhoods/ZIP codes table

First let download a .csv file

In [2]:
import pandas as pd
import numpy as np

In [5]:
# The code was removed by Watson Studio for sharing.

In [6]:
df = pd.read_csv(body)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [8]:
df.shape

(288, 3)

In [10]:
df = df[df.Neighbourhood != 'Not assigned']
df.reset_index(drop = True, inplace = True)
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights